<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male"> {{DATA_SCORE && DATA_SCORE.isCreation ? 'Editar': 'Actualizar'}} Score</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form class="row g-3" [formGroup]="asigObservacionForm">
  <div class="cli-form newvac-wrapper">
    <div class="chart-draw">
      <!-- REGISTRAR PERIODO DE LAS VACACIONES---------------------------------------------------------- -->
        <div class="pr-module-container">
          <div class="row g-3">

            <!-- <div class="col-sm-6 cli-form-element" *ngIf="DATA_SCORE.isCreation">
              <label>Estado</label>
              <select class="cli-input-white" formControlName="id_estado_d">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="estado.id_correlativo"*ngFor="let estado of listEstadoDetalle">{{ estado.valor_texto_1 }}</option>
              </select>
            </div>

            <div class="col-sm-6 cli-form-element">
              <label class="form-label">Fecha Proceso</label>
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker_p" formControlName="fecha_proceso" >
                <mat-datepicker-toggle matSuffix [for]="picker_p"></mat-datepicker-toggle>
                <mat-datepicker #picker_p></mat-datepicker>
              </mat-form-field>
            </div> -->


            <div class="cli-form-element mb-2">
              <label>Obervaciones</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #bdbdbd; font-size: 12px;"
                rows="3"
                placeholder="Escriba algún Comentario de sobre la solicitud del score..."
                formControlName="observaciones">
              </textarea>
            </div>
          </div>
        </div>
    </div>


    <div class="cli-form-buttons" style="margin-top: 8%">
      <button class="cli-btn btn-m btn-cancel" type="submit" (click)="close()">
        <mat-icon class="icon-18">cancel</mat-icon> Cancelar
      </button>
      <button
        class="cli-btn btn-m btn-blue"
        [disabled]="asigObservacionForm.invalid"
        (click)="agregarOactualizarPeriodo()">
        <mat-icon class="icon-18">save</mat-icon> {{titleBtn}}
      </button>
    </div>
  </div>
</form>

