@import "variables.scss";

.modal-title {
  font-size: 1.6rem;
  font-weight: 400;
  // color: $color-blue;
  color: #bb96ff;

  margin: 4px 0;
  text-align: center;
}

.cli-table {
  width: 100%;
  background-color: #fff;
  & th {
    padding: 4px;
    font-weight: 300;
    text-align: center;
  }
  & td {
    vertical-align: middle;
    text-align: center;
    font-size: 0.7rem;
  }
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-input {
    border: 1px solid $color-grey-4;
    border-radius: 2px;
  }
}

.total {
  color: #97999b;
}

.btn-hardware {
  border: none;
  border-radius: 2px;
  margin: 0 1px;
  height: 24px;
  display: flex;
  align-items: center;
  border: solid 1px #bb96ff;

}

.buscar {
  border-radius: 2px;
  font-weight: 500;
  padding: 5px;
  border: 0.5px solid #e1e1e2;
}

.form-select {
  font-size: 10px;
}

.form-control {
  font-size: 14px;
  text-align: center;
}

// .form-control_filtro{
//   font-size: 10px;
// }

.card-footer:last-child {
  font-size: 10px;
}

.w150 {
  width: 150px; // OJO: FALTA VALIDAR
}

.w50 {
  width: 50px; // OJO: FALTA VALIDAR
}


.label {
  // padding: 3px 10px;
  padding: 1px 6px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
  background-color: #398bf7;
  width: 190px;
}

.estado-danger {
  background-color: #ff727f;
}
.estado-info {
  background-color: #20c997;
}


.id-iniciativa {
  font-size: 18px;
  text-align: center;
  font-weight: 400;

  color: #212529;
  // font-weight: 500;
  border: solid 0.5px #bb96ff;
  border-radius: 4px;
  background: #f8f9fa;
  padding: 5px;
}

::ng-deep .mat-form-field {
  // display: inline-block;
  // position: relative;
  text-align: center;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.01em 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.5em 0;
}

@media (max-width: 768px) {
  .modal-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0;
    text-align: center;
  }
  .btn-m {
    height: 20px;
    padding: 15px;
  }
}
