@import "variables.scss";

.modal-title {
  font-size: 1.6rem;
  font-weight: 400;
  // color: $color-blue;
  color: #bb96ff;

  margin: 4px 0;
  text-align: center;
}

.cli-table {
  width: 100%;
  background-color: #fff;
  & th {
    padding: 4px;
    font-weight: 300;
    text-align: center;
  }
  & td {
    vertical-align: middle;
    // text-align: center;
    font-size: 0.7rem;
  }
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-input {
    border: 1px solid $color-grey-4;
    border-radius: 2px;
  }
}

.text-alert {
  font-size: 10px;
  color: #f66d7a;
  margin-top: 0;
}


.total {
  color: #97999b;
}

.obs-score{
  min-width: 245px;color: #878f96;text-align: left;
}

.btn-obs {
  border: none;
  border-radius: 3px;
  margin: 0 3px;
  // font-family: "Webapp-Bold" !important;
  display: flex;
  align-items: center;
  & mat-icon {
    margin: 0 3px;
  }
  &:disabled {
    background-color: #bcd7ff;
    color: #fff;
  }
}

.btn-obs-color{
  // background-color: $color-blue;
  color: #007bff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-blue-l;
    color: #fff
  }
  &:hover:enabled:active {
    background-color: $color-blue-d;
  }
}

// .info {
//   align-items: center;
//   justify-content: center;
//   height: 20px;
//   font-size: 15px;
// }

.cli-user{
  display: flex;
  align-items: center;
  color: #0d6efd;
  background: #f4f4f4;
}

.label {
  // padding: 3px 10px;
  padding: 2px 6px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
  background-color: #398bf7;
}

.estado-reg {
  background-color: #b5bec6;
}

.estado-compl {
  background-color: #88f5d4;
  color: #6f42c1;
}

.estado-planif {
  background-color: #ffdc73;
  color: #6f42c1;
}

.estado-pend {
  background-color: #ff727f;
}

.btn-hardware {
  border: none;
  border-radius: 2px;
  margin: 0 1px;
  height: 24px;
  display: flex;
  align-items: center;
  border: solid 1px #bb96ff;
}

.input-group-text {
  background-color: #ffffff;
  border: none;
  padding: 0.5px 5px;
}

.version {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  color: #20c997;
  /* border: solid 0.5px var(--bs-teal); */
  /* border-radius: 2px; */
  /* background: #f0f5fa; */
  padding: 1px;
}

.buscar {
  border-radius: 2px;
  // font-weight: 500;
  padding: 5px;
  // border: 0.5px solid #e1e1e2;
}

.form-select {
  font-size: 10px;
}

.form-control {
  font-size: 14px;
  text-align: center;
}

// .form-control_filtro{
//   font-size: 10px;
// }

.card-footer:last-child {
  font-size: 10px;
}

.w150 {
  width: 150px; // OJO: FALTA VALIDAR
}

.w50 {
  width: 50px; // OJO: FALTA VALIDAR
}

.estado-danger {
  background-color: #ff727f;
}
.estado-info {
  background-color: #20c997;
}

.id-score {
  font-size: 18px;
  text-align: center;
  font-weight: 400;

  color: #212529;
  // font-weight: 500;
  border: solid 0.5px #bb96ff;
  border-radius: 4px;
  background: #f8f9fa;
  padding: 5px;
}

::ng-deep .mat-form-field {
  // display: inline-block;
  // position: relative;
  text-align: center;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.01em 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.5em 0;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.015em;
}

@media (max-width: 768px) {
  .modal-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0;
    text-align: center;
  }
  .btn-m {
    height: 20px;
    padding: 15px;
  }
}
